
/*применение стиля к вложенным дивам*/


.letter {
    padding: 10px;
    margin: 10px;
    background-color: gold;
    color: #333;
    display: inline-block;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}

/*.d {*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    background-color: bisque;*/
/*    color: #333;*/
/*    display: inline-block;*/
/*    font-family: monospace;*/
/*    font-size: 32px;*/
/*    text-align: center;*/
/*}*/

div div div {
    padding: 10px;
    margin: 10px;
    background-color: aqua;
    color: #333;
    display: inline-block;
    font-family: monospace;
    font-size: 32px;
    text-align: center;
}